@charset "utf-8";
/* CSS Document */

body{
	
	/* MODIFICAR DE ACORDO COM O TAMANHO DO EXERCÍCIO */
	width: 820px;
	height: 620px;
	/**************************************************/
	
	font-family: "Arial";
	font-size: 20px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

#content{ 

	/* MODIFICAR DE ACORDO COM O TAMANHO DO EXERCÍCIO */
	width: 100%;
	height: 100%;
	/**************************************************/

	position: absolute;
	left: 0px;
	top: 0px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	/*border:1px solid #CCCCCC;*/
}
	
	#main{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0px;
		top: 0px;
	}

		#chartContainer{
			width: 400px;
			height: 300px;
		}

		#charts{
			position: absolute;
			width: 820px;
			height: 620px;
			left: 20px;
			top: 20px;
		}
