@charset "utf-8";
/* CSS Document */

body{
	
	/* MODIFICAR DE ACORDO COM O TAMANHO DO EXERCÍCIO */
	width: 820px;
	height: 620px;
	/**************************************************/
	
	font-family: "Arial";
	font-size: 18px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

#content{ 

	/* MODIFICAR DE ACORDO COM O TAMANHO DO EXERCÍCIO */
	width: 100%;
	height: 100%;
	/**************************************************/

	position: absolute;
	left: 0px;
	top: 0px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	/*border:1px solid #CCCCCC;*/
}
	
	#main{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0px;
		top: 0px;
	}

		#chartContainer{
			width: 400px;
			height: 300px;
		}

		#charts{
			position: absolute;
			width: 820px;
			height: 620px;
			left: 0px;
			top: 0px;
		}

		p{
			font-size: 80px;
			font-weight: bold;
			width: 400px;
			height: 300px;
			line-height: 120px;
			text-align: center;
			opacity: 0.1;
		}

		#fxt{
			position: absolute;
			left: 0px;
			top: 0px;
		}

		#vxt{
			position: absolute;
			left: 420px;
			top: 0px;
		}

		#axt{
			position: absolute;
			left: 0px;
			top: 320px;
		}

		#sxt{
			position: absolute;
			left: 420px;
			top: 320px;
		}

		#fPicker{
			position: absolute;
			left: 338px;
			top: 2px;
		}

		#mass{
			position: absolute;
			left: 280px;
			top: 2px;
		}
		#massKg{
			position: absolute;
			left: 392px;
			top: 2px;
		}
